.tabs {
  display: flex;
  gap: 1rem;
  background-color: #002e94;
  color: white;
  border-bottom: 2px solid #007ac7;
  height: 10vh;
}

.tabs p {
  cursor: pointer;
  padding: 1rem;
  border: 2px solid #007ac7;
  border-radius: 8px 8px 0 0;
  margin-bottom: -2px;
  z-index: 10;
}

.active_tab {
  font-weight: 900;
  border-bottom: 2px solid #002e94;
}
