.box {
  overflow: scroll;
  height: 75%;
  position: relative;
}

.top {
  position: relative;
  height: 25%;
}

/* .voting_box {
  height: 60%;
  position: relative;
  overflow: scroll;
}

.voting_top {
  position: relative;
  height: 40%;
} */
